*.exe
*.csv
*.swp
srtm/*
test
*.bin
*.atten
*.stackdump
*.sh

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
